<% provide(:title, 'Головна')%>

<div class="container">
  <div class="presentation">
    <h1>Наймай професіоналів для твоєї роботи</h1>
    <div class="presentation_items">
      <div class="item">
        <div class="img">
          <%= image_tag('presentation/window-cleaner-safety.jpg', alt: "icon", class: "icon")%>
        </div>
        <div class="text">
          <div class="title">
            Потреба помити вікна? В нас є для тебе кілька варіантів
          </div>
          <div class="desc">
            Створити заявку, вибери спеціаліста і насолоджуйся зробленою роботою
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <%= image_tag('presentation/window-cleaner-safety.jpg', alt: "icon", class: "icon")%>
        </div>
        <div class="text">
          <div class="title">
            Потреба помити вікна? В нас є для тебе кілька варіантів
          </div>
          <div class="desc">
            Створити заявку, вибери спеціаліста і насолоджуйся зробленою роботою
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <%= image_tag('presentation/window-cleaner-safety.jpg', alt: "icon", class: "icon")%>
        </div>
        <div class="text">
          <div class="title">
            Потреба помити вікна? В нас є для тебе кілька варіантів
          </div>
          <div class="desc">
            Створити заявку, вибери спеціаліста і насолоджуйся зробленою роботою
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <%= image_tag('presentation/window-cleaner-safety.jpg', alt: "icon", class: "icon")%>
        </div>
        <div class="text">
          <div class="title">
            Потреба помити вікна? В нас є для тебе кілька варіантів
          </div>
          <div class="desc">
            Створити заявку, вибери спеціаліста і насолоджуйся зробленою роботою
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h2>На нашому сайті доступні такі категорії робіт</h2>
    <div class="items">
      <div class="item">
        <%= image_tag('icons/category/construction.png', alt: "icon", class: "icon")%>
        <div class="name">Справи по дому</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/box.png', alt: "icon", class: "icon")%>
        <div class="name">Кур'єрські послуги</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/paint.png', alt: "icon", class: "icon")%>
        <div class="name">Будівельні роботи</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/technology.png', alt: "icon", class: "icon")%>
        <div class="name">Ремонт техніки</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/web.png', alt: "icon", class: "icon")%>
        <div class="name">Робота в інтернеті</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/computer.png', alt: "icon", class: "icon")%>
        <div class="name">Розробка</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/advert.png', alt: "icon", class: "icon")%>
        <div class="name">Реклама</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/design.png', alt: "icon", class: "icon")%>
        <div class="name">Дизайн</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/translation.png', alt: "icon", class: "icon")%>
        <div class="name">Переклади</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/photo.png', alt: "icon", class: "icon")%>
        <div class="name">Фотозйомка</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/birthday.png', alt: "icon", class: "icon")%>
        <div class="name">Організація свят</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/car.png', alt: "icon", class: "icon")%>
        <div class="name">Авто</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/teacher.png', alt: "icon", class: "icon")%>
        <div class="name">Репетитори</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/pet.png', alt: "icon", class: "icon")%>
        <div class="name">Догляд за тваринами</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/healthy.png', alt: "icon", class: "icon")%>
        <div class="name">Здоров'я</div>
      </div>
      <div class="item">
        <%= image_tag('icons/category/list.png', alt: "icon", class: "icon")%>
        <div class="name">Інші категорії</div>
      </div>
    </div>
  </div>
  <div class="cities">
    <h2>Наші користувачі таких міст:</h2>
    <div class="items">
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Івано-Франківськ</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Вінниця</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Дніпро</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Житомир</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Запоріжжя</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Київ</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Кропивницький</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Луцьк</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Львів</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Миколаїв</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Одеса</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Полтава</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Рівне</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Суми</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Тернопіль</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Ужгород</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Харків</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Херсон</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Хмельницький</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Черкаси</div>
        </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Чернівці</div>
      </div>
      <div class="item">
        <%= image_tag('icons/city/map-pin.png', alt: 'map-pin', class: 'icon')%>
        <div class="name">Черкаси</div>
      </div>
    </div>
  </div>
</div>