<% provide(:title, 'Реєстрація') %>
<h1>Реєстрація</h1>
<div class="signup">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %> 

      <%= f.label :first_name, 'Ім\'я' %>
      <%= f.text_field :first_name, class: 'form-control'  %>

      <%= f.label :last_name, 'Прізвище' %>
      <%= f.text_field :last_name, class: 'form-control'  %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'  %>

      <%= f.label :city, 'Місто' %>
      <%= f.text_field :city, class: 'form-control'  %>

      <%= f.label :password, 'Пароль' %>
      <%= f.password_field :password, class: 'form-control'  %>

      <%= f.label :password_confirmation, 'Підтвердження пароля' %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>

      <%= f.submit "Створити профіль", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>