<% provide(:title, 'Мої замовлення') %>


<div class="orders">
  <h1>Мої замовлення (<%= @user.orders.count %>) </h1>
  <div class="orders_buttons">
    <%= link_to 'Додати', new_order_path, class: "btn btn-lg btn-success button_class" %>
    <%= link_to 'Активні', user_orders_path(current_user, status: 'Активне'), class: "btn btn-lg btn-primary button_class" %>
    <%= link_to 'Виконуються', user_orders_path(current_user, status: 'Виконується'), class: "btn btn-lg btn-warning button_class" %>
    <%= link_to 'Завершені', user_orders_path(current_user, status: 'Завершене'), class: "btn btn-lg btn-info button_class" %>
    <%= link_to 'Незавершені', user_orders_path(current_user, status: 'Незавершене'), class: "btn btn-lg btn-danger button_class" %>
  </div>
  <ul class="items">
    <%= render @orders%>
  </ul>

<%= will_paginate @orders%>
</div>
