<% provide(:title, 'Мої заявки') %>


<div class="proposals">
  <h1>Мої заявки (<%= @user.proposals.count %>) </h1>
  <%# <%= link_to 'Активні', '#', class: "btn-lg btn-primary button_class" %>
  <%# <%= link_to 'Виконуються', '#', class: "btn-lg btn-warning button_class" %>
  <%# <%= link_to 'Завершені', '#', class: "btn-lg btn-info button_class" %>

<%= will_paginate @proposals%>

<ul class="items">
  <% @proposals.each do |proposal| %>
  <li id="proposal-<%= proposal.id %>" class="item">
  <div class="row">
    <div class="col-md-1">
      <div class="gravatar-div">
        <%= link_to gravatar_for(proposal.user, size: 80), proposal.user %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="text">
        <span class="user">
          <%= link_to "#{proposal.order.title}", proposal.order, class: "user_link" %>
        </span> 
        <span class="content">
          <%= proposal.content %>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="data">
        <span class="element"> 
          <b>Ціна:</b> <%= proposal.price %>
        </span>
        <span class="element"> 
          <b>Створено:</b> <%= proposal.created_at %>
        </span>
        <span class="element"> 
          <b>Завершить до:</b> <%= proposal.duedate %>
        </span>
        <div class="buttons">
          <% if current_user && current_user?(proposal.user) && proposal.order.status != 'doing' %> 
            <%= link_to "Видалити", proposal, method: :delete, data: { confirm: "Ти впевнений?" }, class: "btn btn-danger" %>
            <%= link_to "Редагувати", edit_proposal_path(proposal.id), class: "btn btn-warning" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li> 
  <% end %>
</ul>

<%= will_paginate @proposals%>
</div>
