<% provide(:title, "#{@user.first_name} #{@user.last_name}")%>

<div class="profile">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div class="profile_main">
        <% if @user.avatar.attached? %>
          <image src="<%=(url_for(@user.avatar))%>" style=" width:230px;">
          <% else %>
          <span><%= gravatar_for(@user, size: 160) %></span>
        <% end %>
        <div class="email"><%= @user.email %></div>
        <div class="city"><%= @user.city %></div>
        <div class="created_at"> На сайті з <%= @user.created_at.strftime("%d.%m.%Y %H:%M") %></div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">
      <h1 class="name"><%= @user.first_name %> <%= @user.last_name %></h1>
      <% if @user.responses.any? %>
      <h3>Рейтинг: <%=(@user.responses.sum(:score).to_f / @user.responses.count).floor(1) %></h3>
      <% end %>
      <div class="description">
        <%= @user.description %>
      </div>
    </div>
  </div>
</div>
<div class="responses">
  <% if @user.responses.any? %>
  <h3>Відгуки (<%= @user.responses.count %>)</h3>
  <ol class="items">
    <%= render @responses %>
  </ol>
  <%= will_paginate @responses %>
  <% end %>
</div>