<% provide(:title, "#{@user.first_name} #{@user.last_name}")%>

<div class="profile">
  <span><%= gravatar_for(@user, size: 160) %></span>
  <h1 class="name"><%= @user.first_name %> <%= @user.last_name %></h1>
  <div class="email"><%= @user.email %></div>
  <div class="city"><%= @user.city %></div>
  <div class="description">
    <%= @user.description %>
  </div>
</div>
<div class="userorders">
  <% if @user.orders.any? %>
    <h3>Замовлення (<%= @user.orders.count %>)</h3>
    <ol class="orders">
      <%= render @orders %>
    </ol>
    <%= will_paginate @orders %>
    <% end %> 
</div>