<li id="order-<%= order.id %>" class="item">
  <div class="row">
    <div class="col-lg-10 col-md-10">
      <div class="text">
        <span class="text_item title">
          <%= link_to order.title, order, class: "link" %>
        </span>
        <span class="text_item"> 
          <b>Місто:</b> <%= order.city %>
        </span>
        <span class="text_item"> 
          <b>Створено:</b> <%= order.created_at.strftime("%d.%m.%Y %H:%M") %>
        </span>
        <span class="text_item"> 
          <b>Завершується:</b> <%= order.duedate.strftime("%d.%m.%Y %H:%M") %>
        </span>
        <span class="text_item">
          <b>Категорія:</b> <%= order.category.title %>
        </span>
        <span class="text_item">
          <b>Статус:</b> <%= order.status %>
        </span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="buttons">
      <span class="money">
          <b>Бюджет:</b> <%= order.price %> ₴
      </span>
        <% if (current_user?(order.user) || current_user.admin?)  && (['Активне', 'Незавершене', 'Завершене'].include?(order.status))%> 
          <%= link_to "Видалити", order, method: :delete, data: { confirm: "Ти впевнений?" }, class: "btn btn-danger" %>
        <% end %>
        <% if (current_user?(order.user) || current_user.admin? ) && (['Активне', 'Незавершене'].include?(order.status))%>
          <%= link_to "Редагувати", edit_order_path(order.id), class: "btn btn-warning" %>
        <%end%>
        <% if current_user && (current_user?(order.user) || current_user.admin? ) && (['Виконується'].include?(order.status))%>
          <%= link_to "Завершити", finish_order_path(order.id), method: :patch, class: "btn btn-primary" %>
        <%end%>
      </div>
    </div>
  </div>
</li> 