<li id="order-<%= order.id %>" class="item">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="gravatar-div">
        <%= link_to gravatar_for(order.user, size: 80), order.user %>
          <%= link_to "#{order.user.first_name} #{order.user.last_name}", order.user, class: "link-to-user" %>
      </div>
    </div>
    <div class="col-lg-8 col-md-8">
      <div class="text">
        <span class="text_item title">
          <%= link_to order.title, order, class: "link" %>
        </span>
        <span class="text_item"> 
          <b>Місто:</b> <%= order.city %>
        </span>
        <span class="text_item"> 
          <b>Створено:</b> <%= order.created_at %>
        </span>
        <span class="text_item"> 
          <b>Завершується:</b> <%= order.duedate %>
        </span>
        <span class="text_item">
          <b>Категорія:</b> <%= order.category.title %>
        </span>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="buttons">
      <span class="status">
          <b>Статус:</b> <%= order.status %>
      </span>
        <% if  current_user && (current_user?(order.user) && order.status == 'Активне' || current_user.admin?) %> 
          <%= link_to "Видалити", order, method: :delete, data: { confirm: "Ти впевнений?" }, class: "btn btn-danger" %>
          <%= link_to "Редагувати", edit_order_path(order.id), class: "btn btn-warning" %>
        <%end%>
        <% if current_user && !(current_user?(order.user)) %> 
          <%= link_to "Подати заявку", new_proposal_path(order_id: order.id), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</li> 