<% provide(:title, "#{@order.title}")%>

<div class="order-more">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <span class="title">
        <%= @order.title %>
      </span>
    </div>
    <div class="col-md-4 col-sm-4">
      <span class="price">
        <%= @order.price %> ₴
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="data">
        <div class="labell">
          Опис
        </div>
        <div class="description">
          <%= @order.description %>
        </div>
        <div class="labell">
          Навички
        </div>
        <div class="skills">
          <%= @order.skills %>
        </div>
      </div>
      <div class="extended-data">
        <span class="item"> 
          <b>Місто:</b> <%= @order.city %>
        </span>
        <span class="item"> 
          <b>Створено:</b> <%= @order.created_at %>
        </span>
        <span class="item"> 
          <b>Завершується:</b> <%= @order.duedate %>
        </span>
      </div>
    </div>
  </div>
      
</div>
<div class="menu">
      <div class="buttons">
      <% if current_user?(@order.user) || current_user.admin? %> 
        <%= link_to "Видалити", @order, method: :delete, data: { confirm: "Ти впевнений?" }, class: "btn btn-danger" %>
        <%= link_to "Редагувати", edit_order_path, class: "btn btn-warning" %>
      <%end%>
      <% if current_user && !(current_user?(@order.user) || current_user.admin?) %> 
        <%= link_to "Подати заявку", new_proposal_path(order_id: @order.id), class: "btn btn-success" %>
      <% end %>
      </div>
</div>
<div class="proposals">
      <div class="row">
        <div class="col-md-12">
          <% if @order.proposals.any? %>
            <h3>Пропозиції  (<%= @order.proposals.count %>)</h3>
            <ol class="items">
              <%= render @proposals %>
            </ol>
            <%= will_paginate @proposals %> 
          <% end %>
        </div>
      </div>
</div>