<li id="response-<%= response.id %>" class="item">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-2">
      <div class="response_gravatar-div">
        <% if response.proposal.order.user.avatar.attached? %>
          <image src="<%=(url_for(response.proposal.order.user.avatar))%>" style=" width:80px;">
        <% else %>
          <%= link_to gravatar_for(response.proposal.order.user, size: 80), response.proposal.order.user %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8">
      <div class="response">
        <span class="response_user">
          <%= link_to "#{response.proposal.order.user.first_name} #{response.proposal.order.user.last_name}", response.proposal.user, class: "user_link" %>
        </span>
        <span class="response_order">
          <%= link_to response.proposal.order.title, response.proposal.order, class: "user_link" %>
        </span>
        <span class="response_content">
          <%= response.content %>
        </span>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2">
      <div class="score">
        <span class="score_text">
          <%= response.score %>
        </span>
      </div>
    </div>
  </div>
</li> 