<li id="proposal-<%= proposal.id %>" class="item">
  <div class="row">
    <div class="col-md-1">
      <div class="gravatar-div">
        <% if proposal.user.avatar.attached? %>
          <image src="<%=(url_for(proposal.user.avatar))%>" style=" width:80px;">
        <% else %>
          <%= link_to gravatar_for(proposal.user, size: 80), proposal.user %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="text">
        <span class="user">
          <%= link_to "#{proposal.user.first_name} #{proposal.user.last_name}", proposal.user, class: "user_link" %>
        </span> 
        <span class="content">
          <%= proposal.content %>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <div class="data">
        <span class="element"> 
          <b>Ціна:</b> <%= proposal.price %>
        </span>
        <span class="element"> 
          <b>Створено:</b> <%= proposal.created_at.strftime("%d.%m.%Y %H:%M") %>
        </span>
        <span class="element"> 
          <b>Завершити до:</b> <%= proposal.duedate.strftime("%d.%m.%Y %H:%M") %>
        </span>
        <div class="buttons">
          <% if current_user && (current_user?(proposal.user) || current_user.admin?) && (['Активне'].include?(@order.status)) %> 
            <%= link_to "Видалити", proposal, method: :delete, data: { confirm: "Ти впевнений?" }, class: "btn btn-danger" %>
            <%= link_to "Редагувати", edit_proposal_path(proposal.id), class: "btn btn-warning" %>
          <% end %>
          <% if current_user && (current_user?(@order.user) || current_user.admin?) && @order.status == 'Активне' %>
            <%= link_to "Вибрати", choose_proposal_path(id: proposal.id), method: :delete, class: "btn btn-primary"%>
          <% end %>
          <% if current_user && (current_user?(@order.user) || current_user.admin? ) && (['Завершене'].include?(@order.status))%>
            <%= link_to "Написати відгук", new_response_path(proposal_id: proposal.id, user_id: proposal.user_id), class: "btn btn-primary" %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</li> 

<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-8">

  </div>
  <div class="col-md-3">
    
  </div>
</div>